.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

.service-card {
    background: var(--color-secondary);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border: 2px groove var(--color-accent);
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block; /* Asegura que no haya espacio extra debajo de la imagen */
}

.card-content {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-content h2 {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-top: 0; /* Elimina el margen superior del título */
    margin-bottom: 1rem;
}

.card-content p {
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1.6;
    flex-grow: 1;
    margin: 0; /* Elimina los márgenes predeterminados del párrafo */
}

@media (max-width: 992px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}